/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 05-oct-2014, 10:05:25
    Author     : Cristina
*/

table, th, td {
    border: 1px solid hotpink;
    text-align:center;
}

img{
    width: 200px;
}

